@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3f2fd;
  border: none;
  outline: none;
}

.wrapper {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.wrapper .button {
  height: 60px;
  width: 60px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button span {
  font-weight: 400;
  margin-left: 16px;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
  color: #fff;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
  color: #fff;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
  color: #fff;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #ff0000;
  color: #fff;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #4267b2;
}

.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}

.wrapper .button:nth-child(3) span {
  color: #e1306c;
}

.wrapper .button:nth-child(4) span {
  color: #ff0000;
}
